#page-info {
	background-image: url("Background.jpg");
}

.loading {
	color: white;
	text-align: center;
	position: static;
}

.text {
	color: white;
	text-align: center;
	position: static;
	font-size: 30;
}
