* {
	font-family: 'Poppins', sans-serif;
}

#page-info {
	width: 100%;
	height: 100vh;
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	/* background-image: url("Background.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

body {
	overflow-y: auto;
}
/* #container {
	width: 100%;
	height: 10%;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
} */

/*TITLE BAR*/

/* .title {
	margin-left: 3%;
	width: 100%;
	color: #303131;
	font-size: 150%;
	display: block;
	overflow: hidden;
} */

/*LOCATIONS OPTIONS*/
.locations {
	/* display: none; */
	margin: 1%;
	margin-top: 0%;
	width: 100%;
	height: 10%;
	justify-content: flex-start;
	align-content: flex-start;
}

.list {
	width: 100%;
	height: 100%;
	background-color: pink;
	position: flex;
	margin: 0px;
	overflow: scroll;
	scroll-behavior: smooth;
}

.search_categories {
	font-size: 17px;
	/* margin-top:  */
	width: 20%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7%;
	background-color: #f9f9f9;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.2);
	outline: none;
}
input {
	outline: none;
}
#sc1 {
	margin-left: 10%;
	margin-right: 10%;
}
#sc2 {
	margin-left: 0%;
	margin-right: 10%;
}
#sc3 {
	margin-left: 0%;
	margin-right: 10%;
}
#pastAirFuture {
	width: 100%;
	text-align: center;
	color: #303131;
}
.search_categories .select select {
	/* line-height: 1; */
	border: 0;
	padding: 0;
	border-radius: 0;
	width: 100%;
	position: relative;
	z-index: 10;
	font-size: 1em;
}

.search_categories .select {
	width: 50%;
	background-position: 80% center;
}

/*MAP*/
.map {
	width: 100%;
	height: 60%;
	margin: 0% 2% 1% 2%;
	/* background-color: #313030; */
	display: flex;
}
/* EARTH */
#earth_div {
	padding: 1%;
	width: 50%;
	height: 95%;
}
#map_div {
	padding: 1%;
	width: 45%;
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*TIMELINE*/
.timeline {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 10%;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

#submitButton {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -2%;
	width: 80%;
	height: 10%;
	text-align: center;
}

#button1 {
	width: 20%;
	text-align: center;
	background-color: #a5dff9;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.2);
	outline: none;
	color: #303131;
	cursor: pointer;
}

#monthSliderOutput {
	margin-bottom: 0%;
	color: #303131;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #30a9de;
	cursor: pointer;
}

/* D3 */
.line-chart {
	border: 1px solid lightgray;
}

.cesium-credit-textContainer {
	display: none;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
#currentSelection {
	width: 100%;
	text-align: center;
	margin-bottom: 2%;
}
#currentSelectionValues {
	color: #303131;
}
#myChart {
	background-color: white;
}
